* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fdcae1;
  }
  
  body {
    padding: 60px;
  }
  
  input {
    background-color:black ;
    border-radius: 65px;
    border: 1px solid rgb(183, 224, 243);
    color: white;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 80vw;
  }
  